.catalog {
  margin-top: 84px;
  margin-bottom: 80px;
}

.carList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.loadMore {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loadMore:hover {
  background-color: #0056b3;
}
